* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(31, 31, 31);
}

.header {
    background-color: #002244;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 8vh;
    width: 100vw;
    padding: 8px;
}

// .header h1 {
//     font-family: 'Alfa Slab One', cursive;
// }

.top {
    display: flex;
    justify-content: space-between;
}

.top ul {
    display: flex;
    margin-right: 16px;
}

.top ul li {
    list-style: none;
    padding: 8px;
}

.top ul li a {
    font-family: 'Helvetica';
    letter-spacing: 1.5px;
    text-decoration: none;
    color: white;
}

.game {
    display: flex;
    justify-content: center;
    height: 75vh;
    width: 100vw;
}

.footer {
    display: flex;
}

.footer .directions, .footer .attack {
    margin-top: 30px;
    font-size: 24px;
    display: flex;
    color: white;
}

.footer .directions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
}

.footer .attack {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 150px;
}

.footer .attack p, .footer .directions p {
    margin-right: 10px;
    letter-spacing: 3px;
    font-size: 16px;
}

.footer .directions p {
    margin-right: -4px;
}

.footer .attack div, .footer .directions div {
    display: flex;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
}

.footer .directions div {
    margin-left: 10px;
}

.footer .author-note {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5vh;
    width: 100vw;
    margin: 40px;
}

.footer .author-note p {
    font-family: 'sans-serif';
    letter-spacing: 5px;
    color: white;
}

#background {
    height: 80vh;
    width: 80vw;
    top: 0;
    left: 20%;
}

canvas {
    position: absolute;
}

html, body {
    overflow: hidden;
}